.side-search, .device-group{
    height: 90vh;
}

.search-input {
    background: #c7cdd5;
    padding: 0.5rem;
  }
.btn-success{
    background-color: #8bc34a !important;
    border-color: #8bc34a !important;
}